<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.neppplus.gudocin_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GuDocIn_Android"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".RegistryCardActivity"
            android:exported="true" />
        <activity
            android:name=".CardInfoActivity"
            android:exported="true" />
        <activity
            android:name=".DeliveryInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ConsumerInfoActivity"
            android:exported="true" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true" />
        <activity
            android:name=".FindAccountActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".EditMyPhoneNumActivity"
            android:exported="true" />
        <activity
            android:name=".MySaveMoneyDetailActivity"
            android:exported="true" />
        <activity
            android:name=".EditMyPassWordActivity"
            android:exported="true" />
        <activity
            android:name=".EditMyEmailActivity"
            android:exported="true" />
        <activity
            android:name=".MyInfoEditActivity"
            android:exported="true" />
        <activity
            android:name=".ReplyActivity"
            android:exported="false" />
        <activity
            android:name=".ProductItemDetailActivity"
            android:exported="true" />
        <activity
            android:name=".LifeCategoryListActivity"
            android:exported="true" />
        <activity
            android:name=".WearCategoryListActivity"
            android:exported="true" />
        <activity
            android:name=".MyPurchaseListActivity"
            android:exported="true" />
        <activity
            android:name=".ReviewDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EatCategoryListActivity"
            android:exported="true" />
        <activity
            android:name=".SearchActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".CustomerCenterActivity"
            android:exported="true" />
        <activity
            android:name=".UserEditActivity"
            android:exported="true" />
        <activity
            android:name=".BasketListActivity"
            android:exported="true" />
        <activity
            android:name=".terms.TermsActivity"
            android:exported="true" />
        <activity
            android:name=".NoticeActivity"
            android:exported="true" />
        <activity
            android:name=".ApproachActivity"
            android:exported="true"
            android:theme="@style/Theme.GuDocIn_Android.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaoe01a6443a1c0ffc7bc1e1eb6633b56e2" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".ReviewActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".NavigationActivity"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>